:root{
  --brand:#45534b;
  --brand-100:#45534b;
  --brand-200:#45534b;
  --brand-300:#45534b;
  --brand-400:#45534b;
  --brand-500:#45534b; /* principal */
  --brand-600:#45534b;
  --brand-700:#45534b;
  --brand-800:#45534b;
  --brand-900:#45534b;
}

.bg-primary{background-color:var(--brand-500)!important}
.text-primary{color:var(--brand-500)!important}
.btn-primary{background-color:var(--brand-500);border-color:var(--brand-600)}
.btn-primary:hover{background-color:var(--brand-600);border-color:var(--brand-700)}

body{background:#f7f9f8}
.welcome-card{background:white;border-left:6px solid var(--brand-500)}

/* Form spacing */
.form-label{font-weight:600}
